<!DOCTYPE html>
<html>
<head>
    <title>Moonshine - Glass</title>
    <script src="jspm_packages/system.js"></script>
    <script src="config.js"></script>
    <script>
        System.import('./scripts/glass/app');
    </script>
    <link rel="stylesheet" type="text/css" href="scripts/glass/assets/css/main.css">
</head>
    <body>
      <div ng-app="MoonshineGlass">
        <div ng-controller="NavigationCtrl as navigation">
          <div ng-if="navigation.isLoggedIn()" class="header">
            <h1>Moonshine Glass</h1>
            <a href="#" ui-sref="events_index">Alle Veranstaltungen</a> <span class="seperator">|</span>
            <a href="#" ui-sref="event_new">Neu</a>
          </div>
          <div ng-if="navigation.isLoggedIn()" class="footer">
            <span>Logged in as <b>{{navigation.currentUser()}}</b>, <a href="#">logout</a></span>
          </div>
        </div>
        <div ui-view class="event-list"></div>
      </div>
    </body>
</html>
